body{
    background: #0d1017;
    color: #fefefe;
}

.container{
    
    padding: 20px;
}

.container .logo{
    display: block;
    width: 75px;
    height: auto;
    margin: 0 auto;
}

.container .title{
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}

.form-container{
    background: #161b21;
    border-radius: 10px;
    margin-top: 20px;
}

.container .form-control{
    background: #0d1017;
    border: none;
}

a {
    text-align: right;
    text-decoration: none;
}

form{
    padding: 20px;
}

.link-container{
    margin-top: 20px;
    border: 0.2px solid #fefefe;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 100;
}

.container .extra{
    margin-top: 70px;
    font-size: 13px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .container .form-container  {
      font-size: 8px;
    }
  }
